body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 18px;
  color: #444;
  background: #eee;
  padding: 0 10px;
  font-family: Tahoma, Calibri, Helvetica, Arial, Verdana, "Times New Roman",
    sans-serif;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

li {
  list-style: none;

  h2 {
    margin-bottom: 0;
  }

  p {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  div {
    margin-top: 4px;
  }
}

.blog-green-sample-container {
  display: flex;
  justify-content: center;
}

.blog-green-sample {
  background: #08a93a;
  border: 1px solid black;
  max-width: 50px;
  min-height: 21px;
  min-width: 50px;
}
